
/* custom css --- nikul vaghani ---*/
.form-control {
    border: 1px solid #ced4da;
}
.form-group .form-control {
    padding: 0.625rem 1rem!important;
}
.form-group .form-control{
    padding-left: initial; 
    padding-right: initial;
}

.select2-container--default{
    max-width: 100%;
}
.select2-container .select2-selection--single{
    height: calc(1.5em + 0.75rem + 10px)!important;;
    border-radius: 0px!important;
}
.select2-container--default .select2-selection--single .select2-selection__rendered{
    line-height: calc(1.5em + 0.75rem + 10px)!important;;
}
.select2-container--default .select2-selection{
    border-color: #ced4da!important;
}
.select2-container--default .select2-selection--single .select2-selection__arrow{
    height: 41px!important;
}

.select2-container .select2-selection--multiple{
    min-height: 41px!important;
}
.select2-container--default .select2-selection--multiple{
    border-radius: 0px!important;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice{
    background-color: #4680ff!important;
    border: 1px solid #4680ff!important;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove{
    color: #fff!important;
}